Debug/
Debug
/Debug
Release/
WindowsFormsApplication_cpp/Debug
WindowsFormsApplication_cpp/Debug/
.vs/WindowsFormsApplication_cpp/v14/.suo
.vs/WindowsFormsApplication_cpp/v15/.suo
.vs/WindowsFormsApplication_cpp/v15/Browse.VC.db
.vs/WindowsFormsApplication_cpp/v15/Browse.VC.opendb
.vs/
.vs